/*sets font for whole document*/
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/*creates gradient in title background*/
h1 {
    background: linear-gradient(to right, rgb(31, 73, 172), rgb(30, 6, 72));
}

/* overrides bootstrap negative margins that cause x-axis scrolling */
.row {
    margin-left: 0 px;
    margin-right: 0px;
}

/*creates different color background and white text to override bootstrap card properties*/
.custom-card {
    background-color: rgb(59, 68, 94);
    color: white;
}